body {
	margin:0;
	padding:5px 25px;
}

ul, li, li audio, li select {
	float:left;
}

ul {
	padding:0;
	margin:0;
}

li {
	width:500px;
	margin:7px 0 7px 0;
}

li img {
	height:20px;
	width:20px;
	display:none;
	margin:5px 10px 5px 10px;
}

li audio {
	margin:0 10px 0 0;
}

li select {
	height:30px;
	border-radius:5px;
	margin:0 10px 0 10px;
}

.cf {
	clear:both;
}

.main {
	width:500px;
	margin:0 auto;
	text-align:center;
}

#click {
	background-color:#3498db;
	background-image:-webkit-linear-gradient(top, #3498db, #2980b9);
	background-image:-moz-linear-gradient(top, #3498db, #2980b9);
	background-image:-ms-linear-gradient(top, #3498db, #2980b9);
	background-image:-o-linear-gradient(top, #3498db, #2980b9);
	background-image:linear-gradient(to bottom, #3498db, #2980b9);
	color:#fff;
	font-size:20px;
	line-height:60px;
	padding:10px 20px;
	border-radius:10px;
	cursor:pointer;
}

#click:hover {
	background-color:#3cb0fd;
	background-image:-webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image:-moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image:-ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image:-o-linear-gradient(top, #3cb0fd, #3498db);
	background-image:linear-gradient(to bottom, #3cb0fd, #3498db);
}